   #footer {
                position: fixed;
                bottom: 0;
                width: 100%;
            }


   .js-editable {
       width: 25%;
   }

   .js-editable-field, .js-editable-wrap-text:hover {
       cursor: text;
       background: #fff;
       border: 2px solid #d6d6d6;
       color: inherit;
       padding: 10px 12px;
       margin-left: -14px;
       border-radius: 5px;
       -webkit-box-shadow: 0 1px 2px -1px rgba(0,0,0,.2)inset;
       box-shadow: 0 1px 2px -1px rgba(0,0,0,.2)inset;
       -webkit-appearance: none;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
       box-sizing: border-box;
   }
   .js-editable-wrap-text {
       display: inline-block;
       position: relative;
       margin-bottom: -15px;
       margin-top: -10px;
       min-height: 3em;
       min-width: 1em;
   }
   .js-editable-wrap-text:hover {
       display: inline-block;
       height: 38px;
       padding-top: 7px;
   }
   .js-editable-icon {
       -webkit-appearance:default-button;
       -webkit-box-shadow: -1px 0px 1px 1px rgba(0,0,0,.2)inset;
       box-shadow: -1px 0px 1px 1px rgba(0,0,0,.2)inset;
       -webkit-border-top-right-radius: 5px;
       border-top-right-radius: 5px;
       -webkit-border-bottom-right-radius: 5px;
       border-bottom-right-radius: 5px;
       background-color: #f0f0f0;
       background-repeat: no-repeat;
       padding: 1.9em 0.5em 1em 0.5em;
       margin-left: -1.5%;
       width: 0;
   }
   .js-editable-input {

       font-size: inherit;
       font-weight: inherit;
       font-style: inherit;
       font-family: inherit;
       outline:none;
       -webkit-border-top-right-radius: 0px;
       border-top-right-radius: 0px;
       -webkit-border-bottom-right-radius: 0px;
       border-bottom-right-radius: 0px;
       width: 70%;
   }
   .js-editable-form {
       position: relative;
       margin-bottom: -10px;
       margin-top: -10px;
       display: none;
       width: 123%;
   }